@import '../../../assets/abstracts/variables';

.sidebar-left {
  width: 260px;
  background: #fff;
  padding: 16px;
  font-family: 'Inter', Arial, sans-serif;
  transition: transform 0.3s ease;
  z-index: 1001;
  height: 100%;
  overflow: auto;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);

  .section-title {
    font-weight: 600;
    font-size: 0.95rem;
    margin-bottom: 12px;
    color: $text-primary;
  }

  .frameworks {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;

    .fw-radio {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 0.88rem;
      cursor: pointer;
      padding: 4px 8px;
      border-radius: 8px;
      transition: background 0.2s;

      input[type='radio']:checked+label {
        font-weight: 600;
        color: #5b21b6;
      }
    }
  }

  /* Tree view */
  .tree {
    overflow: auto;
    font-family: Arial, sans-serif;
    font-size: 0.95rem;

    ul {
      list-style: none;
      padding-left: 10px;
      margin: 0;
    }

    li {
      cursor: pointer;
      padding: 4px 0;
      border-radius: 6px;
      transition: background 0.2s;
    }

    /* Category */
    .toggle {
      font-weight: 600;
      color: $text-primary;

      i {
        transition: transform 0.2s ease;
        color: $text-secondary;
      }

      i.rotated {
        transform: rotate(90deg);
      }
    }

    /* Component item */
    .component-item {
      padding-left: 16px;
      font-size: 0.9rem;
      color: $text-secondary;
      transition: color 0.2s, font-weight 0.2s;

      &:hover {
        color: $primary-color; // indigo-800
        font-weight: 600;
      }

      &.active {
        background: $primary-background-selection-light;
        font-weight: 600;
        color: $primary-color;
        border-radius: 6px;
      }
    }

    /* Scrollbar styling */
    // &::-webkit-scrollbar {
    //   width: 6px;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background: #cbd5e1; // gray-300
    //   border-radius: 4px;
    // }

    // &::-webkit-scrollbar-thumb:hover {
    //   background: #94a3b8; // gray-400
    // }
  }

}

/* Drawer for mobile/tablet */
@media (max-width: 1024px) {
  .sidebar-left {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;

    .tree {
      // max-height: 400px;
    }
  }

  .sidebar-left.open {
    transform: translateX(0);
  }
}