<div class="sidebar-left" [class.open]="drawerOpen">
  <!-- <h4 class="section-title">Frameworks</h4>
  <div class="frameworks">
    <label *ngFor="let fw of frameworks" class="fw-radio">
      <input
        type="radio"
        name="framework"
        [value]="fw"
        [checked]="fw === selectedFramework"
        (change)="selectFramework(fw)"
      />
      {{ fw }}
    </label>
  </div> -->

  <h4 class="section-title">Categories</h4>
  <div class="tree">
    <ul>
      <li *ngFor="let cat of componentsTree">
        <span class="toggle" (click)="toggleCategory(cat)">{{ cat.name }}</span>
        <ul [style.display]="cat.expanded ? 'block' : 'none'">
          <li
            *ngFor="let comp of cat.children"
            class="component-item"
            (click)="selectComponent(comp, cat.name)"
          >
            {{ comp.name }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
