@import '../styles/variable.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--font-family);
}

.workspace {
  display: grid;
  grid-template-columns: 240px 1fr 440px; // Left, center, right
  height: calc(100vh - 60px); // minus header height
  min-height: 0;
  overflow: hidden; // prevent scrollbars
}

.center {
  padding: 16px;
  background-color: var(--background);
  overflow-y: auto;
  min-height: 0;
}
//  @media (max-width: 1024px) {
//   app-sidebar-left {
//     display: none;
//   }
//  }